<div class="display-products" fxFlex="100">
  <div layout-wrap fxFlex="50">
    <mat-list dense class="mat-elevation-z8">
      <mat-list-item *ngFor="let product of productList | async">
        <span matLine
          ><strong>{{ product.id }}</strong></span
        >
        <span matLine>{{ product.productName }}</span>
        <button mat-icon-button [routerLink]="['/view', product.id]">
          <mat-icon class="view-button" matTooltip="VIEW">visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="editProductInfo(product.id)">
          <mat-icon class="edit-button" matTooltip="EDIT">edit_square</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(product.id)">
          <mat-icon class="delete-button" matTooltip="DELETE"
            >disabled_by_default</mat-icon
          >
        </button>
      </mat-list-item>
      <mat-paginator
        #paginator
        [length]="100"
        [pageSize]="10"
        aria-label="Select page"
      >
      </mat-paginator>
    </mat-list>
  </div>

  <div
    *ngIf="openTemplate === true"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxFlex="50"
  >
    <mat-card>
      <mat-card-content>
        <app-form></app-form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
