.display-products {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
mat-list {
  height: auto;
  width: 100%;
}
.delete-button {
  color: var(--secondary-color-red);
}
.view-button {
  color: var(--functional-color-grey3);
}
.edit-button {
  color: var(--secondary-color-cyanBlue);
}
