<div class="display-products">
  <mat-list dense class="mat-elevation-z8">
    <mat-list-item *ngFor="let user of userlist | async">
      <span matLine><strong>{{ user.id }}</strong></span>
      <span matLine>{{ user.productName }}</span>
      <button mat-icon-button><mat-icon class="view-button" matTooltip="VIEW">visibility</mat-icon></button>
      <button mat-icon-button><mat-icon class="edit-button" matTooltip="EDIT">edit_square</mat-icon></button>
      <button mat-icon-button><mat-icon class="delete-button" matTooltip="DELETE">disabled_by_default</mat-icon></button>  
    </mat-list-item>
    <mat-paginator
      #paginator
      [length]="100"
      [pageSize]="10"
      aria-label="Select page">
    </mat-paginator>
  </mat-list>
</div>
